
{% extends 'courses/main.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>
    <title>{{object.name}}</title>

    <style>
      body {
            background-color:white;  
        }
      .box {
          background-color:rgb(243, 243, 243); 
        }

      p {
        font-size: 20px;
        }     

      .hide {
            display: none;
        } 
    </style>
  </head>  
  <div class="container">
    {% if auth %}  
    <div style="text-align:center; font-size:25px">      
      {% if percent < 50 %}
        <p style="color:black">% {{percent}} ضعيف</p>
      {% elif percent < 70 %}
        <p style="color:red">% {{percent}} متوسط</p>
      {% elif percent < 80 %}
        <p style="color:green">% {{percent}} جيد</p>
      {% elif percent < 90 %}
        <p style="color:blue">% {{percent}} جيد جدا</p>
      {% elif percent < 101 %}
        <p style="color:rgb(176, 0, 176)">% {{percent}} ممتاز</p>   
      {% endif %}         
    </div>
    {% else %}
        <span style="font-size:30px">% 0 ضعيف</span>
      {% endif %}
    <div class="box" style="text-align:center; background-color: rgb(227, 227, 227);">
      <h1>
        {% if teacher %}
          <span>  
            <a style="width:30px; font-size:1px" title="حذف" href="{% url 'delete' k=object.k %}"><img style="width:30px" src="{% static 'admin/img/delete.svg' %}"></a>
            <a style="width:30px; font-size:1px" title="تعديل" href="{% url 'update' k=object.k %}"><img style="width:30px" src="{% static 'admin/img/edit.svg' %}"></a>
          </span>  
        {% endif %}

        <a style="width:30px; font-size:1px" title="{{para}} {{parent}}" href="{% url 'open' k=p %}"><img style="width:30px" src="{% static 'admin/img/up.svg' %}">
        </a>              
        {{object.name}}        
      </div>        
        <!-- <div style="text-align:right;" id="cContainer"></div> -->
        {% if object.file %}
          <iframe style="width:100%; height:790px" src="{{ object.file }}#toolbar=0&navpanes=0"></iframe>
        {% endif %}
        {% if object.video %} 
          <button onclick="watchVideo()">استمع للشرح</button>
          <div class="video hide" id="watchvideo">
            <iframe width="100%" height="360px"  src="{{object.video}}" allowfullscreen ></iframe> 
          </div>          
        {% endif %}
      </h1>
    
    <div class="container">  
      {% if questions %}
        <button style="color:rgb(8, 0, 255); width:48%" onclick='window.location.href="{% url 'practice' k=object.k %}"'>تدريب</button> 
        {% if auth %}
          <button style="color:rgb(8, 0, 255); width:48%" onclick='
              if (confirm("إذا تم عرض الامتحان ولم تكمله حتى تقوم بإرسال النتيجة ستحتسب درجتك صفرا. اضغط ok إذا كنت تريد الاستمرار.")=== true){
                window.location.href="{% url 'assessment' k=object.k %}" }'>تقييم</button>     
        {% else %}
          <button style="color:rgb(8, 0, 255); width:48%"  onclick="mustLogin()">تقييم</button>
        {% endif %} 
      {% else %}
        <p>لم تتم إضافة أسئلة لهذا الهدف التعليمي بعد</p>
      {% endif %}
    </div>

  {% if teacher %}
      <div style="text-align:center;">
        <a style="background-color:#d8d8d8; width:400px" href="{% url 'create' p=object.k %}">إضافة سؤال</a>
      </div>
      <br>

      {% for q in questions %}
        {% if q.q.y %} 
        <div style="text-align:center;">
          <a style="background-color:#d8d8d8; width:400px" href="{% url 'create' p=object.k %}">إضافة سؤال</a>
        </div>
        {% endif %}

        <div style="text-align:right">         
          <a style="width:30px; font-size:1px" title="حذف" href="{% url 'delete' k=q.q.k %}"><img style="width:30px" src="{% static 'admin/img/delete.svg' %}"></a>
          <a style="width:30px; font-size:1px" title="تعديل" href="{% url 'update' k=q.q.k %}"><img style="width:30px" src="{% static 'admin/img/edit.svg' %}"></a>
          <a style="width:30px; font-size:1px" title="نسخ" href="{% url 'dublicate' k=q.q.k %}"><img style="width:30px" src="{% static 'admin/img/duplicate.svg' %}"></a>
          {% if q.q.y %}               
            {% if q.q.video %}<a style="width:30px; font-size:1px" target="blank" title="شرح فيديو" href="{{q.q.video}}"><img style="width:30px" src="{% static 'admin/img/video.svg' %}"></a>{% endif %}
            ({{q.q.level}}) 
          {% endif %} 
          <br>
          <div style="padding-right:1rem; font-size:20px; color:red"> 
            {% for n in q.name %}                              
              {{n}} <br>
            {% endfor %}
          </div>
          
          {% if q.q.file %}<div style="text-align:center"><img style="width:60%;" src="{{ q.q.file }}"></div>{% endif %} 

          <div style="padding-right: 1rem;"> 
            {% if q.q.op2 %}
              1. {{q.q.op1}} <br>
              {% if q.q.op2 %} 2. {{q.q.op2}} <br>{% endif %}  
              {% if q.q.op3 %} 3. {{q.q.op3}} <br>{% endif %}    
              {% if q.q.op4 %} 4. {{q.q.op4}} <br>{% endif %}  
            {% else %}
              {{q.q.op1}}
            {% endif %}

            {% if q.q.ansimg %}<div style="text-align:center"><img style="width:60%;" src="{{ q.q.ansimg }}"></div>{% endif %} 

          </div>          
          {% if q.hint %}
            <div style="color:rgb(1, 1, 185); font-size:20px">توجيهات الحل:</div> 
            <div style="padding-right: 1rem;">
              {% for h in q.hint %}      
                {% if '!' in h %}
                  <span style="color:blue">{{h}}</span>  <br>
                {% else %}
                  {{h}} <br>
                {% endif %}                      
                
              {% endfor %}                
            </div> 
          {% endif %} 
        </div>  
        <hr>
      {% endfor %}
    </div>
  {% endif %}



  <script>
    // let content = JSON.parse("{{content|escapejs}}");      
    // let contentContainer = document.getElementById("cContainer");

    // let div = document.createElement("div");  
    // for (var cont of content) {  
    //   let sub_div = document.createElement("div");    
    //   let sp = '&nbsp &nbsp &nbsp' 
    //   if (cont.includes('!')){
    //     cont = cont.replace("!", "");
    //     sub_div.innerHTML = `<br>`;
    //     sub_div.innerHTML += `${cont} <br>`;

    //     sub_div.style.fontSize = '25px';
    //     sub_div.style.color='blue';
    //   } else {
    //     if (cont.includes('\\)')){
    //       sub_div.innerHTML = ` ${sp} ${sp} ${cont} <br>` 
    //       sub_div.style.color='darkviolet';    
    //       sub_div.style.fontSize = '28px'; 
    //     } else {
    //       if (cont.includes('%')){
    //         cont = cont.replace("%", "");
    //         sub_div.style.color='brown';

    //       }
    //       sub_div.innerHTML = ` ${sp} ${cont} <br>` 
    //       sub_div.style.fontSize = '23px'; 
    //     }
    //   }        
    //   div.appendChild(sub_div);    
    // }
    // contentContainer.appendChild(div);

    let watchvideo = document.getElementById("watchvideo"); 
    function watchVideo() { 
        watchvideo.classList.toggle('hide');
    }

    function mustLogin() {
      alert("الاختبار والتقييم والتوجيه ميزات غير متاحة في الإصدار التجريبي");
    }
  </script>

{% endblock %}



