{% extends 'courses/main.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}



<html>

<head>  
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <!-- Google Font -->
    <link  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />

    <style>   

    .container, .box {
      text-align:center;
      max-width: 60rem;   
      min-width: 40rem;   
      margin: auto;             
      align-items: center;
    }


    .question {
      padding-right: 1rem;
      padding-top: 1rem;
      margin-bottom: 1.25em;
      font-family: 'Amiri', serif;
      color: red;
    }

    .option, .move, .flag, .submit, .key {
      color: black;
      font-size: 1em;
      width: 95%;
      padding: 1.2em;
      text-align: center;
      background: transparent;
      border: 1px solid #25252b;
      border-radius: 0.3em;
    }
    .move {
      width: 20%; 
    }
    .submit {
      width: 42%; 
    }
    .option:hover, .move:hover, .flag:hover, .submit:hover, .key:hover, a:hover {
      background-color: #9d9db6;
    }
    a:link{
      width:30px; 
      font-size:5px
    }
    .hide {
        display: none;
    }
    .incorrect {
        background-color: #ffdde0;
        border-color: #d32f2f;
    }
    .correct {
        background-color: #e7f6d5;
        border-color: #689f38;
    }
    .selected {
      background-color: #969696;
      border-color: #000000;
    }
    .flagged {
      background-color: rgb(134, 104, 243);
    }    
    .answered {
      background-color: #c3bff8;
    }
    .bulb {
      background-color: #000000;
      color: #ffffff;
    }
    </style>


</head>

<body>
  <div class="container">
    {% if purpose == 'pract' %}  
      <p style="color:blue; font-size:30">تدريب على {{ara}}: {{object.name}}</p>
      {% if not auth %}
        <p style="text-align:right">يتم عرض عدد محدود من الأسئلة في النسخة التجريبية</p>
      {% endif %}
    {% else %}
      <p style="color:blue; font-size:30">تقييم في: {{object.name}}</p>
    {% endif %}
    {% if purpose == 'pract' %}  
      <div class="box">
        <select required id="qsource" style="width:30%"><option value="">جميع مصادر الأسئلة</option></select> 
        <select required id="qkind" style="width:30%"><option value="">حميع أنواع الأسئلة</option></select> 
        <select required id="qrecord" style="width:30%"><option value="">جميع الأسئلة في سجلك</option></select> 
      </div>
    {% endif %}    
    <div class="box" style="text-align:right; background-color:rgb(231, 231, 231)" id="display">      
      <div id="kcontainer"></div>
      <p class="result hide" id="result">هذه درجتك في أسئلة الاختيار من متعدد. وقد ترك تقييم الإجابات القصيرة لك.</p>
      <div class="box hide" style="width:25%; text-align:center;" id="scontainer"></div>
      <div id="container"></div>                       
    </div>
    
    <button class="move" id="back" onclick="backQues()">السابق</button>     
    <button class="move" id="next" onclick="nextQues()">التالي</button>   <br>
    <button class="move hide" style="width:42%" id="report" onclick="endTest()">النتيجة</button> 
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="submitted" id="submitted">           
        {% if purpose == 'pract' %}
          <button class="submit" type="submit" onclick="Done()">انتهيت</button>
        {% else %}
          <button class="submit hide" type="submit" id="submit" onclick="Done()">إرسال</button>
        {% endif %}
    </form>
  </div>

    <script>
        let purpose = '{{purpose}}';
        let allQuestions = JSON.parse("{{questions|escapejs}}");        

        if (purpose === 'pract'){
          qSource = document.getElementById('qsource');
            for(var s of ['أسئلة كتاب الطالب وكتاب النشاط','أسئلة امتحانات سابقة','أسئلة إثرائية',]){
              qSource.options[qSource.options.length] = new Option(s, s)
            }
          
          qSource.addEventListener('change', qSelected); 

          qKind = document.getElementById('qkind');
            for(var s of ['الأسئلة الموضوعية','أسئلة الفهم', 'مسأئل', 'تمثيلات بيانية', 'مقارنات', 'إثباتات']){
              qKind.options[qKind.options.length] = new Option(s, s)
            }
          qKind.addEventListener('change', qSelected); 

          qRecord = document.getElementById('qrecord');
            for(var s of ['الأسئلة الخطأ','الأسئلة المحجوزة']){
              qrecord.options[qrecord.options.length] = new Option(s, s)
            }
          qRecord.addEventListener('change', qSelected); 

          function qSelected() {
            let qsourceMap = {
              book:'أسئلة كتاب الطالب وكتاب النشاط',
              exam:'أسئلة امتحانات سابقة',
              other:'أسئلة إثرائية'
            }
            let qkindMap = {
              know:'الأسئلة الموضوعية',
              understand:'أسئلة الفهم',
              problem:'مسأئل',
              graph:'تمثيلات بيانية',
              compare:'مقارنات',
              proove:'إثباتات'
            }
            questions = [];
            for (z of allQuestions){                           
              if ((!qSource.value || qSource.value === qsourceMap[z.source]) && 
                  (!qKind.value || qKind.value === qkindMap[z.kind]) &&
                  (!qrecord.value || ((qRecord.value == 'الأسئلة الخطأ' && z.score == -1) || (qRecord.value == 'الأسئلة المحجوزة' && z.flag == 1)))
                ){
                questions.push(z)
              }
            }  
            var qL = questions.length;    
            initial(questions)
          };
        }

        
        let quizContainer = document.getElementById("container");
        let scoreContainer = document.getElementById("scontainer");
        let keyContainer = document.getElementById("kcontainer");
        let displayContainer = document.getElementById("display");
        let scoreDiv = document.getElementById("score");
        let questionList = document.getElementsByClassName("qcontainer");   
        let keys = document.getElementsByClassName("key");
        let answers = document.getElementsByClassName("answer");    
        let hints = document.getElementsByClassName("hint");  
        let videos = document.getElementsByClassName("video"); 
        let plays = document.getElementsByClassName("play"); 
        let flags = document.getElementsByClassName("flag");  
        let submitted = document.getElementById("submitted");
        let nextBtn = document.getElementById("next")
        let backBtn = document.getElementById("back")
        let totalScore = 0;     
        let fullMark = 0;     
        var qC;

        function QuestionCreator() {          
          let div = document.createElement("div");  
          for (j=0; j<qL; j++){
            div.innerHTML += `<button class="key" style="width:9%" onclick="toQuizDisplay(this)">${j+1}</button>`
          }
          keyContainer.appendChild(div)  
          
          var j = -1;

          for (let i of questions) {  
            j += 1; 
            let div = document.createElement("div");  
            div.classList.add("qcontainer", "hide"); 
            div.style.textAlign = "center";
            div.innerHTML += `<hr>`;               
            let question_DIV = document.createElement("p");  
            question_DIV.style.textAlign = "right";
            question_DIV.classList.add("question");             
            question_DIV.innerHTML = `<button class='flag' style="width:1px; float:right; max-height:10px" title="حجز للعرض لاحقا" value=${j} onclick="flagQues(this)"><img style="width:20px" src="{% static 'courses/flag.svg' %}"></button>`+i.question;
            if (i.file) {
              question_DIV.innerHTML += `<div style="text-align:center"><img style="width:300px" src="${i.file}"><div/>`
            }
            div.appendChild(question_DIV);    
            if (i.answer) {
              div.innerHTML += `<button class="move" style="width:50%" onclick="showAnswer()">انظر الإجابة وقيم نفسك</button>`;
            }          
            for (var op of i.options){
              if (i.answer){
                div.innerHTML += `<button class="option" style="width:10%" onclick="checker(this)">${op}</button>`;
              } else {
                div.innerHTML += `<button class="option" onclick="checker(this)">${op}</button>`;
              }                          
            }  
            div.innerHTML += `<div class="answer hide" style="text-align:right; padding-right: 5em;"><p>${i.answer}</p></div>`
            let hint_DIV = document.createElement("div");  
            hint_DIV.classList.add("hint", "hide"); 
            hint_DIV.style.textAlign = "right";
            hint_DIV.innerHTML = `<p style="color:blue; font-size:20px" >توجيهات الحل:</p>`;
            for (h of i.hint){
              hint_DIV.innerHTML += String.raw`<p>${h}</p>`;
            }
            div.appendChild(hint_DIV); 
            div.innerHTML += `<button class="video hide" style="width:50%; font-size:20px" onclick="watchVideo()">شاهد هذا المقطع لمزيد من التوضيح</button>`;
            div.innerHTML += `<div class="play hide"><iframe width="795px" height="460px"  src="${i.video}" allowfullscreen ></iframe></div>`
            quizContainer.appendChild(div); 
          }  
          MathJax.typeset();            
        }

        function toQuizDisplay(keyOption){
          qC = keyOption.innerText-1; 
          quizDisplay(qC) 
        }

        function quizDisplay(qC) {
          for (j=0; j<qL; j++){   
            keys[j].classList.remove('bulb')
            if (purpose === 'test' && questions[j].choice) {
              keys[j].classList.add('answered')
            } else if (purpose === 'pract') {
              if (questions[j].choice){
                if (questions[j].choice === questions[j].correct){
                  keys[j].classList.add('correct')
                } else {
                  keys[j].classList.add('incorrect')
                }
              }
            }
          }          
          keys[qC].classList.add('bulb')
          
          if (qC === 0){
            nextBtn.classList.remove('hide');
            backBtn.classList.add('hide');  
                      
          } else if (qC === qL-1){
            nextBtn.classList.add('hide');
            backBtn.classList.remove('hide');
          } else if (qC > 0){
            nextBtn.classList.remove('hide');
            backBtn.classList.remove('hide'); 
          }
          if (purpose === 'test')
            document.getElementById("report").classList.remove('hide');

          for (i of questionList){
            i.classList.add("hide");         
          };
          questionList[qC].classList.remove('hide');
          if (questions[qC].flag === 1){
            flags[qC].classList.add("flagged"); 
          }           
        };

        function showAnswer() {
          if (questions[qC].answer){
            answers[qC].classList.remove("hide"); 
            questionList[qC].querySelectorAll(".option").forEach((element) => {              
            });
          }
          if (questions[qC].hint){
            hints[qC].classList.remove("hide"); 
          }     
          if (purpose === 'pract' && questions[qC].video){
            videos[qC].classList.remove("hide"); 
          }         
        }

        function watchVideo() { 
          plays[qC].classList.toggle('hide');
        }

        function checker(userOption) { 
          let choice = userOption.innerText; 
          let  options = questionList[qC].querySelectorAll(".option")
          question = questions[qC];
          if (choice === question.correct){
            question.score = 1;
          } else {
            question.score = -1;
          }
          if (!question.choice){
            if (purpose === 'test'){
              userOption.classList.add('selected')
            } else {              
              if (choice === question.correct) {
                userOption.classList.add('correct')
              } else {
                userOption.classList.add('incorrect')
                options.forEach((element) => {
                  if (element.innerText === question.correct){
                    element.classList.add("correct");
                  }        
                });              
              }
              options.forEach((element) => {
                element.disabled = true; 
              });
            }            
            question.choice = choice;
          } else {
            if (choice === question.choice){
              userOption.classList.remove('selected')
              keys[qC].classList.remove('answered')
              
              question.choice = '';
              question.score = 0;
            } else {
              options.forEach((element) => {
                element.classList.remove("selected");
              });
            userOption.classList.add('selected')
            question.choice = choice;
            }
          }
          if (purpose === 'pract'){
            showAnswer()
          }          
        }


        function endTest() {
          let unAnswered = [] ;
          for(var j=0; j < qL; j++){
            if (questions[j].choice === '') {
              unAnswered.push(j+1);             
            }; 
          } 
          if (unAnswered.length > 0) {
            alert("الأسئلة التالية لم يتم حلها بعد: " + unAnswered);
            qC = Math.min(...unAnswered)-1;  
            quizDisplay(qC);
          } else {
            reportDisplay();
          }
        }

        function reportDisplay() {
          backBtn.classList.add('hide');
          document.getElementById("report").classList.add('hide'); 
          document.getElementById("submit").classList.remove('hide');  

          for (j=0; j<qL; j++){   
            keys[j].classList.add('hide')
          }          
          for (q of questions){
            if (!q.answer){
              fullMark += 1;
            }
            if (q.score === 1 && !q.answer){
              totalScore += 1; 
            }
          }
          let div = document.createElement("div");  
          div.innerHTML += `${totalScore} <hr>  ${fullMark}`; 
          fr = totalScore/fullMark;  
          if (fr >= 0.9){
            div.style.color = 'blue';
          } else if (fr > 0.499){
            div.style.color = 'green';
          } else {
            div.style.color = 'red';
          }
          scoreContainer.appendChild(div);
          scoreContainer.style.fontSize='30px';
          scoreContainer.classList.remove('hide'); 

          document.getElementById('result').classList.remove('hide')
          document.querySelectorAll('.mark').forEach((element) => {
              element.classList.add("hide");
          });
          document.querySelectorAll('.move').forEach((element) => {
              element.classList.add("hide");
          });
          for (j=0; j<qL; j++){            
            questionList[j].classList.remove('hide'); 
            // flags[j].classList.add('hide');   
            if (questions[j].answer){
                answers[j].classList.remove("hide");
              } 
            questionList[j].querySelectorAll(".option").forEach((element) => {
              if (questions[j].answer){
                element.classList.add("hide");
              } else {
                element.classList.remove("selected");
                if (element.innerText === questions[j].correct) {
                  element.classList.add("correct");                
                } else if (element.innerText ===  questions[j].choice){
                  element.classList.add("incorrect");
                }
                element.disabled = true;
            }
            });      
          }             
        };


        function initial(questions) {
          qL = questions.length;    
          if (qL > 0) {   
            keyContainer.innerHTML = "";
            scoreContainer.innerHTML = "";   
            quizContainer.innerHTML = "";   
            qC = 0;     
              
            scoreArray = new Array(qL); for (let i=0; i<3; ++i) scoreArray[i] = 0;   
            backBtn.classList.add('hide');    
            QuestionCreator();
            quizDisplay(qC); 
            displayContainer.classList.remove("hide");   
          } else {
            alert('لا توجد أسئلة بالمواصفات المخصصة')
            displayContainer.classList.add("hide"); 
            nextBtn.classList.add('hide');
            backBtn.classList.add('hide');
          }         
        }


        window.onload = () => {
          questions = allQuestions;
          initial(questions);  
        };  

        function flagQues(flagOption) {
          j = parseInt(flagOption.value) 
          questions[j].flagged = 1;
          if (questions[j].flag === 0) {
            questions[j].flag = 1
            flagOption.classList.add("flagged");
          } else {
            questions[j].flag = 0;
            flagOption.classList.remove("flagged");
          }      
        }        

        function nextQues() {            
          qC += 1;          
          quizDisplay(qC); 
        }

        function backQues() {
          qC -= 1;                   
          quizDisplay(qC); 
        }

        function Done() {
          let output = []; 
          for (j=0; j<qL; j++){
            if (questions[j].choice ||  questions[j].flagged){
              output.push(questions[j].k);
              output.push(questions[j].score);            
              output.push(questions[j].flag)
            };
          }
          output.push(totalScore);
          submitted.value = output
        } 
    </script>

</body>
</html>

{% endblock content %}